# deps
node_modules
# pnpm-lock.yaml

# build outputs
dist
.tmp
tmp
coverage
api-out
example/**/api-out

# editors
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# project
project_dump.txt

packages/cli/ui
packages/ui/dist